body {
    background-image: url("images/white-waves.png")
}

.card-header {
    text-align: center;
    color: #ffffff;
    background-color: #4aaaa5;
    padding: 10px;
}

 h2 {
    color: #4aaaa5;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #cccccc;
}

nav {
    border-bottom: 2px solid #cccccc;
    margin-bottom: 30px;
}

.new {
    border: 2px solid #dddddd;
    background-color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
}

.main-pic {
    padding-top: 21px;
}
 
.btn {
    background-color: #4aaaa5;
    border: none;
}

.btn:hover {
    background-color: #cccccc;
}

#box-1, #box-2,
#box-3, #box-4,
#box-5 {
    width: 200px;
    height: 30px;
    background-color: #4cccc5;
    text-align: center;
    opacity: 0.5;
    color: black;
    font-weight: bold;
    z-index: 2;
    position: absolute;
}

#image-1, #image-2,
#image-3, #image-4,
#image-5 {
    max-width: 200px;
    z-index: 1;
}

#box-1, #box-2 {
    top: 58%;
}

